<div class="bottomFoot fixed-bottom">
    <footer>
        <div class="left">
            <div>&copy; 2025 WonderLust,</div>
            <div class="f-infi-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
        <div class="right">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>  
    </footer>    
</div>
