<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head>
<body>
    <h2>Listing Index:</h2>
    <form action="/listings/new" method="get">
        <button>Add New Listing</button>
    </form>
    <ol>
    <% for(let listing of allListing) {%>
        <li>
            <a href="/listings/<%= listing._id %>">
                <%= listing.title %>
            </a>
            <button><a href="/listings/<%= listing._id %>/edit">Edit</a></button>
    </li>
    <% } %>        
    </ol>
</body>
</html>