<% layout("/layouts/boilerPlate") %>
<body>
<h3>All Listing</h3>
<button><a href="/listings/new">Add New Listing</a></button>
<ol>
<% for(listing of listings){%>
    <li> <a href="/listings/<%= listing._id %>"><%= listing.title %> </a> 
    <button><a href="/listings/<%= listing._id %>/edit">Edit</a></button>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</li>
<% } %>
</ol>
