<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h2>Add new Listing:</h2>
    <form action="/listings" method="post">
        <input type="text" name = 'title' placeholder="Add a title"><br><br>
        <input type="number" name = 'price' placeholder="Add a price"><br><br>
        <textarea name="description" id="description" placeholder="Add a description"></textarea><br><br>
        <input type="text" name = 'location' placeholder="Add a location"><br><br>
        <input type="text" name = 'country' placeholder="Add a country"><br><br>
        <input type="text" name = 'image' placeholder="Add a image URL"><br><br>
        <button>Add</button>
    </form>
</body>
</html>