<% layout('./layouts/boilerplate')  -%>

<body>
    </div>
    <div class="row ">
        <div class="col-4 offset-4">
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mt-4 mb-4">
                    <div class="offset-5">
                        <h1>Log In</h1>
                    </div>
                    <div class="username mt-3">
                        <label for="username" class="form-label fs-5">Username</label>
                        <input class="form-control" 
                            type="text" name="username" id="username" placeholder="Add a username" required> 
                        <div class="valid-feedback">
                            Looks good!
                        </div> 
                        <div class="invalid-feedback">
                            Add a vaild Username!
                        </div>
                    </div>
                    <div class="password mt-3">
                        <label for="password" class="form-label fs-5">Password</label>
                        <input class="form-control" 
                            type="password" name="password" id="password" placeholder="Add a password" required> 
                        <div class="valid-feedback">
                            Strong Password!
                        </div> 
                        <div class="invalid-feedback">
                            Add a valid password!
                        </div>
                    </div>
                    <button class="btn btn-success mt-4">Log In</button> 
                </div> 
                
            </form>

        </div>
    </div>
</body>